.localeButton {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  font-weight: 500;
  color: var(--ifm-navbar-link-color);
  padding: var(--ifm-navbar-item-padding-vertical) var(--ifm-navbar-item-padding-horizontal);
  border-radius: var(--ifm-button-border-radius);
}

.localeButton:hover {
  color: var(--ifm-navbar-link-hover-color);
  background-color: var(--ifm-hover-overlay-background);
}
